.scroll-indicator-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: fit-content;
    background-color: green;
    color: wheat;
    font-size: 2rem;
    font-weight: 700;
    border: 0;
    padding: 0;

}

.scroll-indicator-bar-bg{
    width: 100%;
    height: 10px;
    background-color: yellowgreen; 
}
.scroll-indicator-bar-inner{
    width: 1%;
    height: 10px;
    background-color: violet; 
}